*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --input-border-color: rgb(92, 179, 255);
  --output-border-color: rgb(255, 179, 92);
}
body{
  display: flex;
  flex-wrap: wrap;
  min-width: none;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 0px 50px 0px;
  
  background-color: rgb(215, 237, 255);
}
div{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}
  div > h3{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 3px;
  }
textarea{
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  outline: none;
}
.input{
  background-color: rgb(172, 216, 255);
  border: solid 2px var(--input-border-color);
}
.output{
  background-color: rgb(255, 226, 172);
  border: solid 2px var(--output-border-color);
}
.input__text{
  background-color: rgb(228, 243, 255);
  border: solid 1px var(--input-border-color);
  max-width: 700px;
  max-height: 300px;
  min-width: 250px;
  min-height: 90px;
}
.output__text{
  background-color: rgb(255, 212, 133);
  border: solid 1px rgb(255, 189, 68);
  max-height: 120px;
  min-height: 38px;
  
  max-width: 750px;
  min-width: 510px;
}

@media screen and (max-width: 600px){
  div, textarea{
    width: 240px;
  }
  textarea{
    min-width: 215px !important;
    width: 90% !important;
  }
  .input__text{
    min-height: 200px !important;
  }
  .output__text{
    min-height: 150px !important;
  }
}
