*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --input-border-color: rgb(92, 179, 255);
  --output-border-color: rgb(255, 179, 92);
  --footer-border-color: rgb(0, 235, 137);
}
body{
  display: flex;
  flex-direction: column;
  min-width: none;
  min-height: 100vh;
    
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  
  background-color: rgb(215, 237, 255);
}
img{
  padding: 3px;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-top: solid var(--footer-border-color) 5px;
  background-color: rgb(119, 255, 198);
  gap: 50px;
}
footer a{
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 165);
}
footer > a :hover{
  transition: .3s all;
  background-color: var(--footer-border-color);
  border-radius: 50%;
  box-shadow: 0px 0px 5px black;
}
footer > p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  text-shadow: 0px 0px 1px black;
  text-align: center;
}
div{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}
  div > h3{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 3px;
    margin: -5px 0px 3px 0px;
  }
textarea{
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  outline: none;
}
.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
  gap: 20px;
}
.input{
  background-color: rgb(172, 216, 255);
  border: solid 2px var(--input-border-color);
}
.output{
  background-color: rgb(255, 226, 172);
  border: solid 2px var(--output-border-color);
}
.input__text{
  background-color: rgb(228, 243, 255);
  border: solid 1px var(--input-border-color);
  max-width: 700px;
  max-height: 300px;
  min-width: 250px;
  min-height: 90px;
}
.output__text{
  background-color: rgb(255, 212, 133);
  border: solid 1px rgb(255, 189, 68);
  max-height: 120px;
  min-height: 38px;
  
  max-width: 750px;
  min-width: 510px;
}

@media screen and (max-width: 650px){
  div, textarea{
    width: 240px;
  }
  textarea{
    min-width: 215px !important;
    width: 90% !important;
  }
  .input__text{
    min-height: 200px !important;
  }
  .output__text{
    min-height: 150px !important;
    max-height: 250px !important;
  }
  footer{
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
  }
  .container{
    padding-top: 20px;
  }
}
